{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <h1>Encuestadores</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Correo</th>
            <th>Encuestas Aplicadas</th>
        </tr>
        {% for encuestador in encuestadores %}
            <tr>
                <td>{{ encuestador.id }}</td>
                <td>{{ encuestador.username }}</td>
                <td>{{ encuestador.email }}</td>
                <td>{{ encuestador.num_encuestas }}</td>
            </tr>
        {% endfor %}
    </table>



{% endblock content %}