{% extends 'layouts/base.html' %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}

    <div class="container">

        {% for encuesta in encuestas %} <h1>{{ encuesta.nombre }}  <a href="{% url 'realizar_encuesta' encuesta.id %}">{% bs_icon 'plus' size='3vw'  %}</a>  </h1>
           
        {% endfor %}
    {% for usuario in usuarios %}
    <p>El usuario {{ usuario.username }} ha completado {{ usuario.num_encuestas }} encuestas.</p>
{% endfor %}




    </div>
{% endblock content %}