{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="container">


      <form method="post">
          {% for item in id_encuestas %}
              <details>
                  <summary>ID de Encuesta: {{ item.id_encuesta }}</summary>
                  {% for nombre in item.nombres_encuesta %}
                      <input type="checkbox" name="encuesta_seleccionada" value="{{ nombre }}">
                      <label for="{{ nombre }}">Nombre de Encuesta: {{ nombre }}</label><br>
                  {% endfor %}
              </details>
          {% endfor %}
          <input type="submit" value="Seleccionar encuestas">
      </form>
  
  
  </div>
{% endblock content %}