{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
<form method="POST">
  {% csrf_token %}
  <label for="analisis_estadistico">Elegir un análisis estadístico:</label>
  <select id="analisis_estadistico" name="analisis_estadistico">
    {% for analisis in analisis_estadisticos %}
    <option value="{{ analisis }}">{{ analisis }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Realizar análisis">
</form>
  
    
</div>
  {% endblock content %}
